{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

<div class="container py-5">      
  <h1>Об авторе</h1>
  <div class="row justify-content-center">
    <div class="col-md-20 p-5">
      <div class="card">
        <div class="card-header">
          <p>
            Привет! Меня зовут Максим, и я автор этого сайта.
            Родился и вырос на Камчатке, сейчас живу на юге :)
          <p>
            Выучился на инженера теплоснабжения, проработал по профессии 6 лет и понял, 
            что надо что-то менять. 
          </p>
          <p>
            Рассуждая над тем, чем бы я хотел заниматься в этой жизни, кем бы я хотел работать, 
            не борясь с самим собой каждое утро, потому что надо идти на не любимую работу, 
            мне пришел ответ! Большую часть времени я провожу за компьютером, 
            мне это нравится, так почему бы мне не превратить это в профессию?
          </p>
          <p>
            Так я встал на тернистый путь обучения Python разработчика. В данный момент 
            являюсь студентом Яндекс Практикума.
          </p>
          <b> Ссылочки: </b>
          <ul>
            <li> 
              <a href="https://github.com/Snork41">Github</a>
            </li>
            <li>
              <a href="https://vk.com/id19900774">Vk</a>
            </li>
            <li>
              <a href="https://stepik.org/users/504918629">Stepik</a>
            </li>
          </ul> 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}